.column {
    margin: auto;
    float: left;
}

#gridmap {
    height: 100%;
}

#gamemap {
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 10px;
}

#message {
    margin: 5px;
    width: 45%;
    height: 30px;
    border: 1px solid lightseagreen;
    border-radius: 5px;
    float: left;
}

#count {
    margin: 5px;
    width: 45%;
    height: 30px;
    border-radius: 5px;
    float: left;
    font-weight: bold;
}